<ul class="nav nav-tabs nav-justified mb-1">    
  <li class="nav-item">
      
      <span class="badge badge-pill badge-secondary">
        <%= user.own_arcades.count %>
      </span>    
  </li>

  <li class="nav-item">
      
      <span class="badge badge-pill badge-secondary">
        <%= user.favorites.count %>
      </span>
  </li>
</ul> 